.dialogues {
    background-color: rgba(32, 32, 33, 1);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 250px;
    float: left;
}

.dialogues-list {
    height: calc(100% - 48px);
    overflow-x: hidden;
}

.dialogue {
    display: flex;
    padding: 3px;
    width: 250px;
    height: 25px;
}

.dialogue:hover {
    background: rgba(52, 52, 59, 1);
}

.active-dialogue {
    background-color:rgba(24, 24, 24, 1);
    padding: 3px;
    width: 250px;
    height: 25px;
    display: flex;
}

.dialogue-name {
    margin: auto;
    color: white;
}