::-webkit-scrollbar {
    width: 0px;
}

* {
    -ms-overflow-style: none;
    font-family: monospace;
    scrollbar-width: none;
    margin: 0;
}

.background {
    background-color: rgba(24, 24, 24, 1);
}

.login {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: rgba(245, 245, 245, 0.6);
    position: absolute;
    height: 350px;
    width: 350px;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}